body{
    background-image: url(descarga.jfif);
    


}


.titulos{
    text-align: center;
    color: rgb(23, 61, 209);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

p{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 30px;
font-weight:900;
color:green;

#menu{
    color:brown;
    width:20vw;
    height: 20vh;

}

}